<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.mapper.BusiStudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.entity.BusiStudent">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="before_name" property="beforeName"/>
        <result column="age" property="age"/>
        <result column="class_id" property="classId"/>
        <result column="address" property="address"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <select id="list" resultType="java.util.Map">
        select studentTable.*,classTable.name as className,teacherTable.name as headMasterName
        from busi_student studentTable,busi_class classTable,busi_teacher teacherTable
        where classTable.status = 1 and studentTable.status = 1 and teacherTable.status = 1
        and studentTable.class_id = classTable.id and classTable.head_master = teacherTable.id
        <if test="student != null">
            <if test="student.name != null and student.name != ''">
                and studentTable.name like CONCAT('%',#{student.name},'%')
            </if>
        </if>
        order by studentTable.create_time desc
    </select>

</mapper>
